[phases.setup]
nixPkgs = [
  "glib",
  "nss",
  "nspr",
  "atk",
  "at-spi2-atk",
  "cairo",
  "pango",
  "gdk-pixbuf",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "xorg.libXrender",
  "xorg.libXtst",
  "xorg.libxcb",
  "xorg.libXScrnSaver",
  "alsa-lib",
  "cups",
  "dbus",
  "expat",
  "fontconfig",
  "freetype",
  "libdrm",
  "mesa",
  "libuuid",
  "libxkbcommon"
]
